name: Semantic Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install dependencies
        run: npm ci

      - name: Run Semantic Release
        run: npx semantic-release

      - name: Trigger Vercel Deploy
        run: |
          curl -X POST -H "Content-Type: application/json" \
          -H "Authorization: Bearer ${{ secrets.VERCEL_TOKEN }}" \
          -d '{}' \
          https://api.vercel.com/v1/integrations/deploy/prj_OMPpBqDsmLTiUTOAKtbaUaJGsHQ0/zUHB9DyIy8
